In [298]:
#importing the libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [272]:
#Creating a variable to store the url from which we will scrape data
url = 'http://mspmag.com/eat-and-drink/the-forty-four-best-bars/'

In [273]:
#Getting the raw data from the url
data = requests.get(url)

In [274]:
#Using the html parser to get the html from the data extracted in the previous step
soup = BeautifulSoup(data.text, 'html.parser')

In [278]:
#Creating a variable to store the data contained within the tag 'div'.
bars = soup.find("div")

In [288]:
#Finding all the bar names and storing it in the variable bar_names. All the bar names are embedded within the tags <h3> and </h3>.

bar_names=bars.find_all("h3")

In [289]:
#Creating a loop to get clean data without special characters or html tags. Assigning the clean names to a list called 'bar_list'. 

bar_list = []
for b in bar_names[0:]:
    result = b.text.strip()
    bar_list.append(result)

In [ ]:
#Displaying the 'bar_list'
print(bar_list)

In [307]:
#We observe that the last 9 elements are not bar names. So we remove those from our list using the following code
bar_list = bar_list[:-9]

In [ ]:
#Now we get our final list
print(bar_list)

In [308]:
#Checking the length of the list i.e. the number of elements in the bar_list. Why are we doing this? Wait and watch!
len(bar_list)

43

In [291]:
#Now we want the addresses and contact details of these bars too. So we create variable to store this information which is embedded within the tags <em> and </em>.
bar_address = bars.find_all("em")

In [324]:
#Creating a loop to get clean data without special characters or html tags. Assigning the clean names to a list called 'address_list'.

address_list = []
for a in bar_address[0:]:
    result2 = a.text.strip()
    address_list.append(result2)

In [ ]:
print(address_list)

In [325]:
#We observe that the last element is not relevant to our list hence we remove it using the following code
address_list = address_list[:-1]

In [ ]:
#Now we get our final clean list
print(address_list)

In [326]:
#Checking the length of the list i.e. the number of element in the address_list
len(address_list)

43

In [317]:
#To convert both the lists to a dataframe, we need to ensure that the lengths of both the lists are exactly same. We have already verified the lengths of both the list which is 43.
#So we can proceed with joining these two lists into a dataframe

#Converting both the lists into a dataframe
minn_bars = pd.DataFrame({'Bars': bar_list,'Address & Contact': address_list})

In [318]:
#Displaying the final dataframe
print(minn_bars)

,Bars,Address & Contact
0,Eat Street Social,"18 W. 26th St., Mpls., 612-767-6850, eatstreet..."
1,Lyn65,"6439 Lyndale Ave. S., Mpls., 612-353-5501, lyn..."
2,Parlour,"730 Washington Ave. N., Mpls., 612-354-3135, b..."
3,Tattersall Distillery,"1620 Central Ave., Mpls., 612-584-4152, tatter..."
4,Alma,"528 University Ave. SE, Mpls., 612-379-4909, a..."
5,6Smith,"294 Grove Lane E., Wayzata, 952-698-7900, 6smi..."
6,Masu,"330 Hennepin Ave. E., Mpls., 612-332-6278, mas..."
7,Twin Spirits,"2931 Central Ave. NE, Mpls., 612-353-5274, twi..."
8,Manny’s,". 825 Marquette Ave. S., Mpls., 612-339-9900, ..."
9,St. Paul Grill,"350 Market St., St. Paul, 651-224-7455, stpaul..."
10,Merlins Rest,"3601 E. Lake St., Mpls., 612-216-2419, merlins..."
11,Butcher & The Boar,"1121 Hennepin Ave., Mpls., 612-238-8888, butc..."
12,Sushi Fix,"862 E. Lake St., Wayzata, 952-473-1364, sushif..."
13,Hai Hai,"2121 University Ave. NE, Mpls., 612-223-8640, ..."
14,Martina,"4312 S. Upton Ave., Mpls., 612-922-9913, marti..."
15,Pajarito,"605 W. 7th St., St Paul, 651-340-9545, pajarit..."
16,Young Joni,"165 13th Ave. NE, Mpls., 612-345-5719, youngjo..."
17,Nightingale,"2551 Lyndale Ave. S., Mpls., 612-354-7060, nig..."
18,The Oceanaire Seafood Room,"50 S. 6th St., Mpls., 612-333-2277, theoceanai..."
19,Murray’s,"26 S. 6th St., Mpls., 612-339-0909, murraysres..."
20,Icehouse,"2528 Nicollet Ave. S., Mpls., 612-276-6523, ic..."
21,The Local and Kieran’s,"The Local, 931 Nicollet Mall, Mpls., 612-904-1..."
22,Pazzaluna,"360 St. Peter St., St. Paul, 651-223-7000, paz..."
23,Bunny’s,"5916 Excelsior Blvd., St. Louis Park, 952-922-..."
24,Tiffany Sports Lounge,"2051 Ford Pkwy., St. Paul, 651-690-4747, tiffa..."
25,Herkimer Pub & Brewery,"2922 Lyndale Ave. S., Mpls., 612-821-0101, the..."
26,Randle’s,"921 Nicollet Mall, Mpls., 612-351-1234, johnra..."
27,Volstead’s Emporium,"711 W. Lake St., Mpls."
28,Sea Change,"806 S. 2nd St., Mpls., 612-225-6499, seachange..."
29,Meritage,"410 St. Peter St., St. Paul, 651-222-5670, mer..."
30,The Bachelor Farmer,"50 2nd Ave. N., Mpls., 612-206-3920, thebachel..."
31,Gyst,"25 E. 26th St., Mpls., 612-758-0113, gystmpls.com"
32,Broders’ Terzo Vino Bar,"2221 W. 50th St., Mpls., 612-925-0330, broders..."
33,Troubadour,"2827 Hennepin Ave., Mpls., 612-871-4073, troub..."
34,Domacin Restaurant & Wine Bar,"102 S. 2nd St., Stillwater, 651-439-1352, doma..."
35,Hola Arepa,"3501 Nicollet Ave. S., Mpls., 612-345-5583, ho..."
36,Brit’s Pub,"1110 Nicollet Mall, Mpls., 612-332-3908, brits..."
37,Sonora Grill,"3300 E. Lake St., Mpls., 612-727-2500, sonorag..."
38,Psycho Suzi’s,"1900 NE Marshall St., Mpls., 612-788-9069, psy..."
39,Half Time Rec,"1013 Front Ave., St. Paul, 651-488-8245, halft..."
40,Liquor Lyle’s,"2021 Hennepin Ave. S., Mpls., 612-870-8183"
41,CC Club,"2600 Lyndale Ave. S., Mpls., 612-874-7226, ccc..."
42,Grumpy’s NE,"2200 NE 4th St., Mpls., 612-789-7429, grumpys-..."

In [320]:
#Creating an excel file from the dataframe
minn_bars.to_excel("Best Bars in Minneapolis.xlsx", index=False)

In [ ]:
#We have created a directory in Excel that gives us the list of best bars in town along with their addresses, phone numbers and website address. You are all set to go bar hopping! :)